<% content_for :title do %>Apps dashboard<% end %>

<script type='text/javascript'>
$(function() {
  // Dashing.widget_base_dimensions = [370, 340]
  // Dashing.numColumns = 5
});
</script>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="wfe_running" data-view="Graph" data-title="Running Workflows" style="background-color:#2980b9"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="tasks" data-view="List" style="background-color:#8e44ad" data-moreinfo="Requests" data-unordered="true"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="nicconnections" data-view="List" style="background-color:#e74c3c" data-unordered="true"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="wfe_retry" data-view="Meter" data-title="Retry Workflows" data-min="0" data-max="100"></div>
    </li>
      <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="wfe_pending" data-view="Meter" data-title="Pending Workflows" data-min="0" data-max="100"></div>
    </li>
  </ul>
</div>